<h1 class="title"><small>Polls:<small></h1>
<p>Opened Polls:</p>
<ul ng-repeat="poll in $ctrl.openedPolls">
  <li><a href="#" uib-tooltip="{{poll.title}}">{{poll.title}}</a></li>
</ul>
<p>Closed Polls:</p>
<ul ng-repeat="poll in $ctrl.closedPolls">
  <li><a href="#" uib-tooltip="{{poll.title}}">{{poll.title}}</a></li>
</ul>
<p>Incoming Polls:</p>
<ul ng-repeat="poll in $ctrl.incomingPolls">
  <li><a href="#" uib-tooltip="{{poll.title}}">{{poll.title}}</a></li>
</ul>
<p>Answered Polls:</p>
<ul ng-repeat="poll in $ctrl.answeredPolls">
  <li><a href="#" uib-tooltip="{{poll.title}}">{{poll.title}}</a></li>
</ul>
