.poll-container {
  background-color: #EFEFEF;
  border-radius: 4px;
  width: 80%;
  margin: auto;
  padding: 20px 0px;
}

.poll-container a {
  font-weight: 600;
}

.alert-message {
  margin-left: 10%;
}

h3 small {
  margin-left: 10%;
}

a {
  color: #0099cc;
}


ul {
  list-style: none;
}

.last {
  margin-bottom: 40px;
}

.none {
  margin: 0px 40px;
  font-weight: 600;
}
.alert-message {
  color: red;
  font-weight: 600;
}
