<div class="container">
  <div class="row">
    <h1 class="poll-name"><small>{{$ctrl.poll.title}}</small></h1>
    <form name="pollForm">
      <ul class="questions"
          ng-repeat='(quesKey, question) in $ctrl.poll.questions'
          ng-init="questionIndex = $index">
        <li>
          <h2><small>{{question.text}}</small></h2>
          <textarea ng-if="question.type == 'a'"
                    ng-model="$ctrl.answers[$index].content"
                    ng-maxlength="255"
                    ng-minlength="1"
                    placeholder="Insert your answer here..."></textarea>
          <ul class="options"
              ng-if="question.type == 'b' || question.type == 'c'"
              ng-repeat='option in question.options'>
            <li ng-if="question.type == 'b'">
              <input type="radio"
                     ng-model="$ctrl.answers[questionIndex].content"
                     ng-value="option._id">{{option.text}}
            </li>
            <li ng-if="question.type == 'c'">
              <input type="checkbox"
                     ng-init="optId = option._id"
                     ng-model="$ctrl.answers[questionIndex].content[$index]">
              <span class="checkbox-text">{{option.text}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </form>
  </div>
</div>
